<div class="margin">

  <div class="title">

    <h2>Log In</h2>

    <div class="flex">

      <form action="/auth/login" method="POST">

        <label for="username">Username</label>
        <input type="text" name="username" />

        <label for="password">Password</label>
        <input type="password" name="password" />

        <div class="index-btns top-margin">

          <button type="submit" class="btn btn-text"><p>Enter</p></button>

        </div>

      </form>

    </div>

  </div>

  {{#if errorMessage}}

    <p class="error">{{errorMessage}}</p>

  {{/if}}

</div>