<h2>Sign up</h2>
<div>
    <form action="/auth/signup" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>

        <div>
            <label for="sex">Sex</label>
            <input type="text" name="sex">
        </div>

        <div>
            <label for="age">Age</label>
            <input type="text" name="age">
        </div>

        <div>
            <label for="weight">Weight</label>
            <input type="text" name="weight">

        </div>

        <div>
            <label for="height">Height</label>
            <input type="text" name="height">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>

        <button type="submit" >Create</button>
    </form>
</div>