<div class="margin">

    <div class="title">

        <h2>Sign up</h2>
        
    </div>

    <div class="flex">

        <form action="/auth/signup" method="POST" id="signup">

            <p>Attention! Username & password are definitive and can't be changed later!</p>

            <div>
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>

            {{#if errorMessageUser}}
      
                <p class="error">{{errorMessageUser}}</p>
         
            {{/if}}   

            <div>
                <label for="sex">Sex</label>
                <br>
                <select name="sex" id="" required="required">   
                    <option></option>
                    <option value="male" class="not-blue">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div>
                <label for="age">Age</label>
                <input type="text" name="age">
            </div>

            {{#if errorMessageAge}}
      
                <p class="error">{{errorMessageAge}}</p>
         
            {{/if}} 

            <div>
                <label for="weight">Weight</label>
                <input type="text" name="weight" placeholder="Kg">

            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="At least 8 characters">
            </div>

            <div class="index-btns top-margin">
                
                <button type="submit" class="btn btn-text"><p>Create</p></button>

            </div>
            
        </form>

    </div>

</div>