<h2>Sign up</h2>

<form action="" method="GET">

<label for="username">
    <input type="text" name="username">
</label>
<label for="password">
    <input type="text" name="password">
</label>
<label for="age">
    <input type="text" name="age">
</label>
<label for="sex">
    <input type="text" name="sex">
</label>
<label for="weight">
    <input type="text" name="weight">
</label>
<label for="height">
    <input type="text" name="height">
</label>

<button type="submit" >Create</button>


</form>