<div class="margin">

    <h2>SELECT YOUR DRINKS</h2>
    
    <a href="/profile">Go back</a>

    <div class="drink-list">

        <div>

            <input type="text" id="drinkName" class="bar" placeholder="Search your poison" name="drinkName">
            <a id="adress" href=""><button type="submit" onclick="capuccino(event)" class="btn-nav"><p>Search</p></button></a> 

            {{>drinkpartial}}

        </div>

    </div>

</div>

