<div class="margin">

    <h2>ADD YOUR DRINKS</h2>

    <div class="drink-list"></div>

    <a href="/profile">Go back</a>

    <form class="search-form" action="/profile/search" method="GET">

        <label for="search-bar"></label>
        <input type="text" id="drinkName" class="bar" placeholder="Search your poison" name="drinkName">
        <button class="btn-nav" type="submit"><p>Search</p></button>
    </form>
    

    {{>drinkpartial}}

</div>