<h2>ADD YOUR DRINKS</h2>


<a href="/profile">Go back</a>

<form class="search-form" action="/profile/search" method="GET">

    <label for="search-bar">SEARCH FUCKING BAR!</label>
    <input type="text" id="drinkName" class="bar" placeholder="Search your poison" name="drinkName">
    <button class="search-btn"type="submit">Search</button>
</form>
 

{{>drinkpartial}}
