<div class="margin">

    <a href="/profile">Go back</a>

    <h2>Edit your profile</h2>

    <div class="flex">

        <form action="/profile/:id/edit-profile" method="POST" id="edit-profile">

            <div>

                <label for="sex">Sex</label>
                <br>
                <select name="sex" required="required">
                    <option></option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                
            </div>

            <div>
                <label for="age">Age</label>
                <input type="text" name="age" value="{{age}}">
            </div>

            <div>
                <label for="weight">Weight</label>
                <input type="text" name="weight" value="{{weight}}">

            </div>

            <div>
                <label for="height">Height</label>
                <input type="text" name="height" value="{{height}}">
            </div>

            <div class="index-btns top-margin">

                <button type="submit" class="btn btn-text">Update</button>
                
            </div>
            
        </form>


        <div class="index-btns top-margin">

            <button onclick="deleteUserConfirmation()" class="delete-btn">Delete profile</button>
            
        </div>
        

    </div>

</div>