<div class="title margin">
    
    <h2>Disclaimer</h2>

    <p>
    This BAC calculator is for information purposes only. There are many variables that mean this tool cannot fully determine your BAC level, and therefore whether an individual is able to lawfully drive a vehicle.</p> 
    
    <p class="pink"><b>We strongly suggest that if you have any alcohol in your body: do not drive.</b></p>

    <p>
    By using this tool, you acknowledge that any information presented may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
    </p>

</div>