
<h1>Baco</h1>

<article>
    <p>
        DESCRIPTION
        &
        HOW TO USE
    </p>
</article>

<button><a href="/auth/signup">Signup</a></button>
<button><a href="/auth/login">Login</a></button>
<button><a href="/drinks/">Check all the drinks</a></button>