<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baco - Drinking App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet"> 
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="/scripts/noLikeImag.js"></script>
    <script defer src="/scripts/deleteUserConfirmation.js"></script>
    <script defer src="/scripts/dropdownMenu.js"></script>
   
  </head>
  <body>

    

    <nav id="nav" class="nav">

      <p><a href="/">BACØ</a></p>

      <div>
        
        <ul id="menu">
          <li>
            <input id="check01" type="checkbox" name="menu"/>
            <label for="check01"> 
              <svg class="ham hamRotate ham7 touch" viewBox="0 -10 100 100" width="60" onclick="this.classList.toggle('active')">
                <path class="line top" d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013" />
                <path class="line middle" d="m 70,50 h -40" />
                <path class="line bottom" d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40" />
              </svg>
            </label>
            <ul class="submenu">
              <li><a href="/drinks">Check drinks</a></li>
              <li><a href="/auth/signup">Signup</a></li>
              <li><a href="/auth/login">Login</a></li>
              <li><a href="/auth/logout">Logout</a></li>
            </ul>
          </li> 
        </ul>

      </div>
      
    </nav>

    {{{body}}}

  </body>
</html>